.ImageEditts:hover{
    opacity: 0.6 !important;
    animation: 3s infinite slideMovies;
    z-index: 10; 
}
.Colorsss{
    color: black !important;
}

.MoviesEdit{
    background-color: gray;
    color: white;
}
@keyframes slideMovies {

    20%,
    40% {
        transform: translateY(100px); 
    }

    80%,
    100% {
        transform: translateY(150px); 
    }
}
.backgroudEditting{
    background-color: black !important;
    color: white!important; 
  }